{% extends 'base.html.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{asset('css/main.css')}}">
{% endblock %}
{% block main%}
	<div class="container text-right">
		<div>Date du jour :
			{{ "now"|date('d/m/Y') }}</div>
		<div>Participant :
			{{ app.user.pseudo }}</div>
		<div class="clock">
			<div class="hour">
				<div class="hr" id="hr"></div>
			</div>
			<div class="min">
				<div class="mn" id="mn"></div>
			</div>
			<div class="sec">
				<div class="sc" id="sc"></div>
			</div>
		</div>
	</div>

	<div class="container m-10">
		<h2>Filter les sorties</h2>

		<div class="container">
			{{ form_start(formSearch, {attr: {class: 'filter'}}) }}
			<div class="row">
				<div class="col">
					<div class="m-1 p-2">
						{{ form_row(formSearch.site) }}
					</div>
					<div class="m-1 p-2">
						{{ form_row(formSearch.q) }}
					</div>
					<div class="m-1 p-2">
						{{  form_row(formSearch.dateDebut)}}
						{{  form_row(formSearch.dateFin)}}
					</div>
				</div>
				<div class="col p-5">

					{{ form_row(formSearch.organiser) }}
					{{  form_row(formSearch.inscrit)}}
					{{  form_row(formSearch.pasInscrit)}}
					{{  form_row(formSearch.passee)}}
				</div>
				<div class="col m-5">
					<input type="submit" class="btn btn-sortie" value="Rechercher">
				</div>
			</div>
			{{ form_end(formSearch) }}
		</div>


		<div class="container px-4">
			{% for inscription in inscriptions %}
				<div class="row gx-5">
					<div class="card cardrangement col-sm-4 col-3 mx-5 my-5" style="width: 18rem;">
						<div class="card-body">
							<div class="text-center">
								<h5 class="card-title">{{inscription.nomSortie}}</h5>
								{#								{% if app.user.id == sortie.organisateur.id %}#}
							{#									<a class="btn" href="{{ path('sorties_modifier',{'id':inscription[0].sortie.id} ) }}">Modifier</a>#}
								{#								{% endif %}#}
							</div>
							<h6 class="card-subtitle mb-2 text-muted">
								{{inscription.etat.libelle}}
							</h6>
							<a href="#{# {{ path('profil_participant',{'id':sortie.organisateur.id})}} #}" class="card-link">Organisateur :
								{{ inscription.organisateur.pseudo}}
							</a>
							<p class="card-text">Jour et heure :
								{{ inscription.dateHeureDebut | date('d/m/Y H:i')}}
							</p>
							<p class="card-text">Limite d'inscription :
								{{ inscription.dateLimiteInscription | date('d/m/Y')}}
							</p>
							<p class="card-text">Nombre d'inscrits :
							{#							{{ inscript[1]-1}}#}
								{#							/#}
								{#							{{ inscription.sortie.nbInscriptionsMax}}#}
							</p>
							<p class="card-text">
								{% if (inscription.etat.libelle == 'Créée') %}
									{{ inscription.infosSortie}}
								{% else %}
									{% if (date(inscription.dateLimiteInscription) < date('now'))%}
										{% if (inscription.etat.libelle == 'Ouverte') %}
											{{ inscription.infosSortie}}
										{% else %}
											ca aurait pu le faire !
										{% endif %}
									{% else %}
										trop tard !
									{% endif %}
								{% endif %}
							</p>
							<p class="card-text text-center">

								{% for sorties in participants %}
									{% set inscrit = false %}
									{% for sorties in participants %}
										{% set inscrit = false %}
										{% for participant in sorties.inscriptions %}
											{% if (inscription.id == participant.id) %}
												{% set inscrit = true %}
											{% endif %}
										{% endfor %}
										{% if inscrit == false %}
											{% if (date(inscription.dateLimiteInscription) < date('now'))%}
												{% if (inscription.etat.libelle == 'Ouverte') %}
												
												{% endif %}
											{% endif %}
										{% endif %}
									{% endfor %}
									<div class="mt-4 offset-md-4">
										{# {{ knp_pagination_render(inscription, ) }} #}
									</div>
								{% endfor %}	
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	<div>		
	<script type="text/javascript">
			const deg = 6;
			const hr = document.querySelector('hr');
			const mn = document.querySelector('mn');
			const sc = document.querySelector('sc');
			let day = newDate();
			let hh = day.getHours() * 30;
			let mn = day.getMinutes() * deg;
			let sc = day.getSeconds() * deg;
			hr.style.transform = `rotateZ(${(hh) + (mm / 12)}deg)`;
			mn.style.transform = `rotateZ(${mn}deg)`;
			sc.style.transform = `rotateZ(${sc}deg)`;
	</script>
{% endblock %}
{% block javascripts %}
{% endblock %}
						
