{% extends 'base.html.twig' %}

{% block head %}
	<link rel="stylesheet" href="{{asset('css/main.css')}}">
{% endblock %}

{% block main%}
	<div class="container text-right">
		<div>Date du jour :
			{{ "now"|date('d/m/Y') }}</div>
		<div>Participant :
			{{ app.user.pseudo }}</div>
	</div>
	<div class="container m-10">
		<h2>Filter les sorties</h2>
		<form class="container row justify-content-start overflow-hidden gy-5 gx-5" method="post">
			<div class="container col-6 ">
				<div class="form-group row align-items-start p-3 border bg-light">
					<label for="site">Site :
					</label>
					<select name="site" id="site">
						{% for site in sites %}
							<option value="1">{{site.nomSite}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group row align-items-start p-3 border bg-light">
					<label for="input_search">Le nom de la sortie contient :
					</label>
					<input type="text" id="input_search" name="input_search">
				</div>
				<div class="form-group row align-items-start p-3 border bg-light">
					Entre
					<input type="date" name="date_debut" id="date_debut">
					et
					<input type="date" name="date_fin" id="date_fin">
				</div>
			</div>
			<div class="container col-4 gy-5 gx-5">
				<div class="form-group row align-items-start p-3 border bg-light">
					<input type="checkbox" name="sortie_orga" id="sortie_orga"><label class="col-sm-4" for="sortie_orga">Sorties dont je suis organisateur/trice</label>
				</div>
				<div class="form-group row align-items-start p-3 border bg-light">
					<input type="checkbox" name="sortie_inscrit" id="sortie_inscrit"><label for="sortie_inscrit">Sorties auxquelles je suis inscrit/e</label>
				</div>
				<div class="form-group row align-items-start p-3 border bg-light">
					<input type="checkbox" name="sortie_non_inscrit" id="sortie_non_inscrit"><label for="sortie_non_inscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
				</div>
				<div class="form-group row align-items-start p-3 border bg-light">
					<input type="checkbox" name="sortie_passee" id="sortie_passee"><label for="sortie_passee">Sorties passées</label>
				</div>
			</div>
			<div class="container col-2">
				<input type="submit" class="btn btn-sortie" value="Rechercher">
			</div>
		</form>
		<div class="container text-center">
			<table>
				<thead>
					<tr>
						<th>Nom de la sortie</th>
						<th>Date de la sortie</th>
						<th>Clôture</th>
						<th>Inscrits/places</th>
						<th>Etat</th>
						<th>Inscrit</th>
						<th>Organisateur</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for inscription in inscriptions %}
						<tr>
							<td>{{ inscription[0].sortie.nomSortie}}</td>
							<td>{{ inscription[0].sortie.dateHeureDebut | date('d/m/Y H:i')}}</td>
							<td>{{ inscription[0].sortie.dateLimiteInscription | date('d/m/Y H:i')}}</td>
							<td>
								{{ inscription[1] - 1}}
								/
								{{ inscription[0].sortie.nbInscriptionsMax}}</td>
							<td>{{ inscription[0].sortie.etat.libelle}}</td>
							<td>
								{% for sorties in participants %}
									{% for participant in sorties.inscriptions.sortie.id %}
										{% if (app.user.id == participant.id) %}
											X
											
										{% endif %}
									{% endfor %}
								{% endfor %}
							</td>
							<td>
								<a href="{{ path('profil_participant',{'id':inscription[0].sortie.organisateur.id})}}">{{ inscription[0].sortie.organisateur.pseudo}}</a>
							</td>
							<td>
								{% if (inscription[0].sortie.etat.libelle == 'Créée') %}
									{{ inscription[0].sortie.infosSortie}}
								{% else %}
									{% if (date(inscription[0].sortie.dateLimiteInscription) > date())%}
										{% if (inscription[0].sortie.etat.libelle == 'Ouverte') %}
											<a href="{{ path('sorties_voir',{'id':inscription[0].sortie.id} ) }}">S'inscrire</a>
										{% else %}
											ca aurait pu le faire !
										{% endif %}
									{% else %}
										trop tard !
									{% endif %}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="container">
			<a href="{{ path('sorties_create') }}">Créer une sortie</a>
		</div>
	</div>
{% endblock %}
