{% extends 'base.html.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{asset('css/main.css')}}">
{% endblock %}
{% block main%}

	<div class="container p-1 ">
		<h3>Filter les sorties</h3>

		<div class="container d-flex justify-content-arround align-items-center">
			{{ form_start(formSearch, {attr: {class: 'filter'}}) }}
			<div class="row">
				<div class="col">
					<div class="m-1 p-2">
						{{ form_row(formSearch.site) }}
					</div>
					<div class="m-1 p-2">
						{{ form_row(formSearch.q) }}
					</div>
					<div class="m-1 p-2 d-inline-flex d-flex-row">
						{{  form_row(formSearch.dateDebut)}}
						{{  form_row(formSearch.dateFin)}}
					</div>
				</div>
				<div class="col p-5">
					{{ form_row(formSearch.organiser) }}
					{{  form_row(formSearch.inscrit)}}
					{{  form_row(formSearch.pasInscrit)}}
					{{  form_row(formSearch.passee)}}
				</div>
				<div class="col m-5">
					<input type="submit" class="btn btn-sortie" value="Rechercher">
				</div>
			</div>
			{{ form_end(formSearch) }}
			<div class="container col p-5 me-0">
				<div class="clock">
					<div class="hour">
						<div class="hr" id="hr"></div>
					</div>
					<div class="min">
						<div class="mn" id="mn"></div>
					</div>
					<div class="sec">
						<div class="sc" id="sc"></div>
					</div>
					<div>
						{{ "now"|date('d/m/Y') }}</div>
				</div>
			</div>
		</div>


		<div class="container m-2 gx-2 px-4 d-flex d-flex-row">
			{% for inscription in inscriptions %}
				<div class="row gx-5">
					<div class="card cardrangement col-sm-4 col-3 mx-5 my-5" style="width: 18rem;">
						<div class="card-body">
							<div class="text-center">
								<h5 class="card-title">{{inscription.nomSortie}}</h5>
								{% if app.user.id == inscription.organisateur.id %}
									<a class="btn" href="{{ path('sorties_modifier',{'id':inscription.id} ) }}">Modifier</a>
								{% endif %}
							</div>
							<h6 class="card-subtitle mb-2 text-muted">
								{{inscription.etat.libelle}}
							</h6>
							<a href=" {{ path('profil_participant',{'id':inscription.organisateur.id})}} " class="card-link">Organisateur :
								{{ inscription.organisateur.pseudo}}
							</a>
							<p class="card-text">Jour et heure :
								{{ inscription.dateHeureDebut | date('d/m/Y H:i')}}
							</p>
							<p class="card-text">Limite d'inscription :
								{{ inscription.dateLimiteInscription | date('d/m/Y')}}
							</p>
							<p class="card-text">Nombre d'inscrits :
								{% for balade in inscript %}
									{% if balade[0].sortie.id == inscription.id %}
										{{ balade[1]-1}}
									{% endif %}
								{% endfor %}
								/
								{{ inscription.nbInscriptionsMax}}
							</p>
							<p class="card-text">
								{% if (inscription.etat.libelle == 'Créée') %}
									{{ inscription.infosSortie}}
								{% else %}
									{% if (date(inscription.dateLimiteInscription) < date('now'))%}
										{% if (inscription.etat.libelle == 'Ouverte') %}
											{{ inscription.infosSortie}}
										{% else %}
											ca aurait pu le faire !
										{% endif %}
									{% else %}
										trop tard !
									{% endif %}
								{% endif %}
							</p>
							<p class="card-text text-center">

								{% for sorties in participants %}
									{% set inscrit = false %}
									{% for sorties in participants %}
										{% set inscrit = false %}
										{% for participant in sorties.inscriptions %}
											{% if (inscription.id == participant.id) %}
												{% set inscrit = true %}
												Déjà inscrit :
												<a class="btn btn-alert" href="{{ path('desinscrire',{id:inscription.id} ) }}" style="color:red;">Se désister</a>
											{% endif %}
										{% endfor %}
										{% if inscrit == false %}
											{% if (date(inscription.dateLimiteInscription) < date('now'))%}
												{% if (inscription.etat.libelle == 'Ouverte') %}
													<a class="btn btn-success" href="{{ path('sorties_voir',{id:inscription.id} ) }}">S'inscrire</a>
												{% endif %}
											{% endif %}
										{% endif %}
									{% endfor %}
								{% endfor %}
							</p>
							<div class="d-flex">
							{% if app.user.administrateur %}
								<a class="btn btn-alert" href="{{ path('desinscrire',{id:inscription.id} ) }}" style="color:red;">Se désister</a>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="navigation">
				{{ knp_pagination_render(inscriptions) }}
			</div>
		</div>
		<div class="container">
			<a class="btn btn-danger" href="{{ path('sorties_create') }}">Créer une sortie</a>
		</div>
		<div>
			<script type="text/javascript">
				const deg = 6;
const hr = document.querySelector('hr');
const mn = document.querySelector('mn');
const sc = document.querySelector('sc');
let day = newDate();
let hh = day.getHours() * 30;
let mn = day.getMinutes() * deg;
let sc = day.getSeconds() * deg;
hr.style.transform = `rotateZ(${
(hh) + (mm / 12)
}deg)`;
mn.style.transform = `rotateZ(${mn}deg)`;
sc.style.transform = `rotateZ(${sc}deg)`;
			</script>
		{% endblock %}
		{% block javascripts %}{% endblock %}
