{% extends 'base.html.twig' %}


{% block main%}
	<h2 class="text-center display-4 lead">Ajouter une sortie</h2>
	<div class="container">
		{{ form_start(sortieForm) }}
		{{ form_errors(sortieForm) }}

		<div class="row">
			<div class="col-5">
				{{ form_row(sortieForm.nomSortie) }}
				{{ form_row(sortieForm.dateHeureDebut) }}
				{{ form_row(sortieForm.dateLimiteInscription) }}
				{{ form_row(sortieForm.nbInscriptionsMax) }}
				{{ form_row(sortieForm.duree) }}
				{{ form_row(sortieForm.infosSortie) }}

			</div>

			<div class="col-5">
				{{ form_row(sortieForm.site) }}

				{{ form_row(sortieForm.lieux) }}


				<div class="form-row">
					{% for lieu in lieux %}
						<div class>
							<label>Rue:</label>
							<input type="text" class="form-control" id="inputPassword4" value="{{ lieu.rue }}">
						</div>
						<div class>
							<label>Code Postal:</label>
							<input type="text" class="form-control" id="inputPassword4" value="{{ lieu.ville.codePostal }}">
						</div>
						<div class>
							<label>Latitude:</label>
							<input type="text" class="form-control" id="inputPassword4" value="{{ lieu.latitude }}">
						</div>
						<div class>
							<label>Longitude:</label>
							<input type="text" class="form-control" id="inputPassword4" value="{{ lieu.longitude }}">
						</div>
					{% endfor %}
				</div>

			</div>


			<div class="col-2">
				<button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<br>

		<div class="container">
			<div class="row">
				<div class="col-4">
					{{ form_row(sortieForm.save) }}
				</div>
				<div class="col-4">
					{{ form_row(sortieForm.publish) }}
				</div>
				<div class="col-4">
					{{ form_row(sortieForm.cancel) }}
				</div>
			</div>
		</div>

		{{ form_end(sortieForm) }}


	</div>

{% endblock %}
