{% extends 'base.html.twig' %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/profil.css')}}">
{% endblock %}
{% block main%}

	<!-- Lieux form -->
	<div class="" style="">
		<section class="lieux mt-5  d-flex justify-content-center">
			<div class="container ">
				<div class="row " style="background-color:#f4a261">
					<div class="lieux-content col-6 d-flex justify-content-center mt-3 mb-3">
						<div class="form">
							<h1 class="form-title text-nowrap">Choisir un lieu</h1>
							{{ form_start(lieuForm) }}
							{{ form_errors(lieuForm) }}


							<div class="form-group ">
								{{ form_row(lieuForm.nomLieu) }}
								{{ form_row(lieuForm.rue) }}
								{{ form_row(lieuForm.latitude) }}
								{{ form_row(lieuForm.longitude) }}
								{{ form_row(lieuForm.ville) }}
								<a class="btn btn-info  mt-3" href="{{ path('lieux_create_ville') }}">Ajouter une ville</a>
							</div>

							{{ form_end(lieuForm) }}
							{# </form> #}
						</div>
					</div>
					<div class="lieu-image col-6 mt-5">
						<div>
							<figure><img src="{{asset('/images/france1.png')}}" alt="france" style="max-width: 350px;"></figure>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div>
		{% endblock %}
